@charset "UTF-8";

body {
  text-align: center;
  font-family: sans-serif;
  padding: 0 10px;
}

.titulo h1 {
  background: gray;
  color: white;
  padding: 10px;
  margin: 0;
}

.section {
  margin: 50px 0;
}

.detalhes {
  text-align: justify;
}

.detalhes h3 {
  margin-bottom: 50px;
  margin: 40px 50px;
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.detalhes p {
  text-indent: 30px;
}

.resultado {
  height: 50px;
  width: 200px;
  border: 1px solid black;
  margin: 50px auto;
  padding-top: 15px;
}

.rodape {
  margin-top: 50px;
  font-size: 14px;
}

.rodape a {
  color: gray;
  text-decoration: none;
}